### Load data

In [3]:
import sqlite3
import pandas as pd
import os 
from dotenv import load_dotenv

In [7]:
# Path to the database file
load_dotenv()
DB_PATH = os.getenv('DB_PATH2')

# Connect to the database
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

query = '''
SELECT "Home Team", "Away Team", "League",
"Score", "Result", "HomePower", 
"AwayPower", "H1.5", "H2.5",
"A1.5", "A2.5", "HomeBTTS", "AwayBTTS",
"Home Form", "Away Form", "1", "2", "Home GD",
"AwayGD","Home Position", "Away Position",
ABS("HomePower" - "AwayPower") AS "Powerdiff",
"Match Date"
FROM footballresults 
ORDER BY "Match Date" DESC'''


# Load the query results into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

In [8]:
df.head()

,Home Team,Away Team,League,Score,Result,HomePower,AwayPower,H1.5,H2.5,A1.5,...,Home Form,Away Form,1,2,Home GD,"""AwayGD""",Home Position,Away Position,Powerdiff,Match Date
0,Humait√°,Manaus FC,Brazil Serie D,0 - 1,2,48.8,93.9,90.0,90.0,80.0,...,WLLDL,DWDLL,9.10,1.23,NaN,AwayGD,NaN,NaN,45.1,2025-07-21 02:00:00
1,LDU Quito,Deportivo Cuenca,Ecuador LigaPro Serie A,0 - 0,X,126.3,121.1,100.0,70.0,70.0,...,DWWLD,DLWWW,1.50,5.50,16.0,AwayGD,2.0,4.0,5.2,2025-07-21 02:00:00
2,Flamengo,Fluminense,Brazil Serie A,0 - 0,X,134.5,118.8,80.0,40.0,80.0,...,LWLDW,LLWWD,1.75,5.00,21.0,AwayGD,2.0,8.0,15.7,2025-07-21 01:30:00
3,Belgrano,Racing Club,Argentina Liga Profesional,0 - 1,2,110.7,131.1,80.0,40.0,50.0,...,WWDDD,LWWWL,2.90,2.50,NaN,AwayGD,NaN,NaN,20.4,2025-07-21 01:00:00
4,Guarani Asuncion,Sportivo Trinidense,Paraguay Division Profesional,0 - 0,X,71.0,127.9,80.0,70.0,90.0,...,LLWLL,WWWWW,3.30,2.15,0.0,AwayGD,4.0,12.0,56.9,2025-07-21 00:30:00

### Explore the data

In [9]:
# Calculate total goals scored
scores = df['Score'].str.split()
all_goals = []
for value in scores:
    home_goal = int(value[0])
    total_goals = int(value[0]) + int(value[-1])
    all_goals.append(total_goals)
df['Total Goals'] = all_goals
print(df['Home Team'].count())

10038

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10038 entries, 0 to 10037
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Home Team      10038 non-null  object
 1   Away Team      10038 non-null  object
 2   League         10038 non-null  object
 3   Score          10038 non-null  object
 4   Result         10038 non-null  object
 5   HomePower      10038 non-null  float64
 6   AwayPower      10038 non-null  float64
 7   H1.5           10038 non-null  float64
 8   H2.5           10038 non-null  float64
 9   A1.5           10038 non-null  float64
 10  A2.5           10038 non-null  float64
 11  HomeBTTS       10038 non-null  float64
 12  AwayBTTS       10038 non-null  float64
 13  Home Form      10038 non-null  object
 14  Away Form      10038 non-null  object
 15  1              10038 non-null  float64
 16  2              10038 non-null  float64
 17  Home GD        7755 non-null   float64
 18  "AwayGD"       10038 non-null  object
 19  Home Position  7755 non-null   float64
 20  Away Position  7763 non-null   float64
 21  Powerdiff      10038 non-null  float64
 22  Match Date     10038 non-null  object
 23  Total Goals    10038 non-null  int64
dtypes: float64(14), int64(1), object(9)
memory usage: 1.8+ MB

In [6]:
df.describe()

,HomePower,AwayPower,H1.5,H2.5,A1.5,A2.5,HomeBTTS,AwayBTTS,1,2,Home GD,Home Position,Away Position,Powerdiff,Total Goals
count,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,8972.000000,7033.000000,7033.000000,7042.000000,8972.000000,8972.000000
mean,102.227207,100.303021,74.546701,51.627396,74.449064,51.682902,51.328801,51.583705,2.789932,4.386784,1.074790,8.997725,9.139023,30.500111,2.766384
std,24.344379,24.167263,15.694197,18.535867,15.812367,18.728525,17.302492,17.209263,2.813103,3.971321,13.561507,6.197613,6.233615,21.580476,1.721831
min,0.900000,10.700000,10.000000,0.000000,10.000000,0.000000,0.000000,0.000000,1.000000,1.010000,-64.000000,1.000000,1.000000,0.000000,0.000000
25%,85.600000,83.000000,60.000000,40.000000,60.000000,40.000000,40.000000,40.000000,1.670000,2.350000,-5.000000,4.000000,4.000000,13.275000,1.000000
50%,103.000000,101.100000,80.000000,50.000000,80.000000,50.000000,50.000000,50.000000,2.150000,3.300000,1.000000,8.000000,8.000000,26.700000,3.000000
75%,118.400000,116.300000,90.000000,60.000000,90.000000,70.000000,60.000000,60.000000,2.900000,4.900000,7.000000,13.000000,13.000000,43.700000,4.000000
max,174.600000,181.400000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,67.000000,67.000000,76.000000,36.000000,36.000000,139.100000,11.000000

### Predictions

In [36]:
# Over 1.5 goals
tdf = df[ ((df['H1.5'] > 90) & (df['H2.5'] >= 60) & (df['A2.5'] >= 60) & (df['Powerdiff'] >= 20))
         | ((df['A1.5'] > 90) & (df['Powerdiff'] >= 20) & (df['A2.5'] >= 60)) ].copy()

tts = tdf[(tdf['Total Goals'] >= 2)].copy()
out =  tdf[(tdf['Total Goals'] < 2)].copy()

orig = tdf['Result'].count()
pred = tts['Result'].count()

outliers = orig - pred
accuracy = (pred/orig) * 100

print(f'{int(accuracy)}% accurate model with {pred} teams & {outliers} outliers')

100% accurate model with 703 teams & 0 outliers

In [37]:
out

Empty DataFrame
Columns: [Home Team, Away Team, League, Score, Result, HomePower, AwayPower, H1.5, H2.5, A1.5, A2.5, HomeBTTS, AwayBTTS, Home Form, Away Form, 1, 2, Home GD, "AwayGD", Home Position, Away Position, Powerdiff, Match Date, Total Goals]
Index: []

[0 rows x 24 columns]

In [8]:
# Home prediction based on top 3 teams
pos_home = df[ (df['Powerdiff'] > 50)
             & (df['Home Form'].str.count('W') > 4)
             & (df['Home Position'] <= 3) ].copy()
 
# Calculate accuracy 
h_ct = pos_home['Home Team'].count()
h_win = pos_home[(pos_home['Result'] == '1')].copy()
p_ct = h_win['Home Team'].count()
model_acc = (p_ct/h_ct) * 100
print(f'{int(model_acc)}% accurate model with {h_ct} teams')

100% accurate model with 63 teams

In [9]:
anom = pos_home[(pos_home['Result'] != '1')].copy()
anom

Empty DataFrame
Columns: [Home Team, Away Team, League, Score, Result, HomePower, AwayPower, H1.5, H2.5, A1.5, A2.5, HomeBTTS, AwayBTTS, Home Form, Away Form, 1, 2, Home GD, "AwayGD", Home Position, Away Position, Powerdiff, Match Date, Total Goals]
Index: []

[0 rows x 24 columns]